openapi: 3.2.0
info:
  title: Amazon CodePipeline Executions API
  description: Amazon CodePipeline is a fully managed continuous delivery service that helps you automate your release pipelines for fast and reliable application and infrastructure updates. The API enables programmatic management of pipelines, stages, actions, and pipeline executions.
  version: '2015-07-09'
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/codepipeline/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://codepipeline.amazonaws.com
  description: Amazon CodePipeline API endpoint
tags:
- name: Executions
  description: Operations for managing pipeline executions
paths:
  /startPipelineExecution:
    post:
      operationId: StartPipelineExecution
      summary: Amazon CodePipeline Start a Pipeline Execution
      description: Starts the specified pipeline, causing it to run its most recent revision.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the pipeline to start.
            examples:
              StartPipelineExecutionRequestExample:
                summary: Default StartPipelineExecution request
                x-microcks-default: true
                value:
                  name: example-resource
      responses:
        '200':
          description: Pipeline execution started
          content:
            application/json:
              schema:
                type: object
                properties:
                  pipelineExecutionId:
                    type: string
              examples:
                StartPipelineExecution200Example:
                  summary: Default StartPipelineExecution 200 response
                  x-microcks-default: true
                  value:
                    pipelineExecutionId: '500123'
        '404':
          description: Pipeline not found
      tags:
      - Executions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /getPipelineExecution:
    post:
      operationId: GetPipelineExecution
      summary: Amazon CodePipeline Get Pipeline Execution Details
      description: Returns information about an execution of a pipeline.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              required:
              - pipelineName
              - pipelineExecutionId
              properties:
                pipelineName:
                  type: string
                pipelineExecutionId:
                  type: string
            examples:
              GetPipelineExecutionRequestExample:
                summary: Default GetPipelineExecution request
                x-microcks-default: true
                value:
                  pipelineName: example-resource
                  pipelineExecutionId: '500123'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecution'
              examples:
                GetPipelineExecution200Example:
                  summary: Default GetPipelineExecution 200 response
                  x-microcks-default: true
                  value:
                    pipelineName: example-resource
                    pipelineExecutionId: '500123'
                    pipelineVersion: 1
                    status: InProgress
                    statusSummary: ACTIVE
        '404':
          description: Execution not found
      tags:
      - Executions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PipelineExecution:
      type: object
      properties:
        pipelineName:
          type: string
        pipelineExecutionId:
          type: string
        pipelineVersion:
          type: integer
        status:
          type: string
          enum:
          - InProgress
          - Stopped
          - Stopping
          - Succeeded
          - Superseded
          - Failed
        statusSummary:
          type: string
